@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Montserrat:400,700);

/* ======================

Base Styles

======================= */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.wrapper {
	min-height: calc(100vh - 51px); /* This sticks the footer to the bottom of the screen */
  border-bottom: 1px solid #E1E1E1;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', Arial, sans-serif;
  color: #111;
}

body {
  background: #fff;
  font: 1em/1.5 'Libre Baskerville', serif;
  color: #111;
  position: relative;
}

a {
  text-decoration: none;
}

/* ======================

Navigation Styles

======================= */

.nav {
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

.nav .name {
    color: #333;
    font-size: 1.7em;
    letter-spacing: 1px;
    text-transform: none;
    margin: .7em 0;
}

.nav li {
  text-transform: uppercase;
  text-align: center;
}

.nav a {
  background-color: #D4D5D8;
  color: #333;
  display: block;
  padding: 1em 2.5em;
  margin: 5px 0;
  border: 1px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.nav a:hover {
  color: #F64740;
  background-color: #fff;
  border-color: #F64740;
}

/* ======================

Header Styles

======================= */

.headerFlex {
  display: flex;
  flex-flow: column wrap;
}

.headerBio {
  max-width: 500px;
  height: auto;
  text-align: center;
  margin: 2.5em 0;
  color: #111;
  order: 2;
}

.headerPic {
  background: #F64740;
  width: 367px;
  height: 225px;
  margin: 2.5em 1em 0 1em;
  order: 1;
}

/* ======================

Main Content Styles

======================= */

.mainFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  width: auto;
}

#portfolio h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 5.5em 0 5.5em 0;
}

.gallery {
  background: #D4D5D8;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: auto;
}

.galleryItem {
  flex-basis: 200px;
}

#contact h3 {
  text-align: center;
  text-transform: uppercase;
  margin: 6.25em 0 3.125em 0;
  color: #111;
}

#contact {
  color: #111;
}

#contact ul {
  list-style-type: none;
}

#contact p {
  margin: 0 .7em;
  text-align: center;
  max-width: 500px;
}

/* ======================

Footer Styles

======================= */

footer {
	padding: 0 1em;
  font-size: 1em;
}

footer .name {
  
}

.backToTop {
  
}

.footerNav {
  display: none;
}

/* ======================

Media Queries

======================= */

@media (min-width: 769px) {
	.wrapper {
		min-height: calc(100vh - 89px); /* This sticks the footer to the bottom of the screen */
		width: 70%;
		max-width: 1024px;
		margin: 0 auto;
	}

  .headerFlex {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
  }

	footer {
		width: 70%;
		max-width: 1024px;
		margin: 0 auto;
	}
}




